# Recursive Feature Addition by `Mr. Harshit Dawar!`
* This method can be used to remove the Features either on the basis of the Regression Coefficients or Tree Importance!

* It will first of all train the model on all the features, then calculate the metric score on which the model has to be evaluated.

* A Threshold/Tolerance level is defined, if the difference between the Initial Prediction & the prediction after adding a feature recursively is greater than the Tolerance Level, then the Feature will be kept & added to the list of the Features to keep from the Dataset, otherwise it is removed.

In [2]:
# Importing the required Libraries!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [3]:
# Loading the Dataset

data = pd.read_csv("../ds/Titanic.csv")
data.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male -0.590495      1      0 -0.500240        S
1         1       1  female  0.643971      1      0  0.788947        C
2         1       3  female -0.281878      0      0 -0.486650        S
3         1       1  female  0.412509      1      0  0.422861        S
4         0       3    male  0.412509      0      0 -0.484133        S