# Recursive Feature Elimination by `Mr. Harshit Dawar!`
* This method can be used to remove the Features either on the basis of the Regression Coefficients or Tree Importance!

* It will first of all train the model on all the features, then calculate the metric score on which the model has to be evaluated.

* A Threshold/Tolerance level is defined, if the difference between the Initial Prediction & the prediction after removing features recursively is greater than the Tolerance Level, then the Feature will be dropped from the Dataset, otherwise it is kept.

In [1]:
# Importing the required Libraries!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import  accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
# Loading the Dataset

data = pd.read_csv("../ds/Titanic.csv")
data.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male -0.590495      1      0 -0.500240        S
1         1       1  female  0.643971      1      0  0.788947        C
2         1       3  female -0.281878      0      0 -0.486650        S
3         1       1  female  0.412509      1      0  0.422861        S
4         0       3    male  0.412509      0      0 -0.484133        S

In [3]:
X = data.drop("Survived", axis = 1)
y = data.Survived

In [4]:
X

     Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         3    male -0.590495      1      0 -0.500240        S
1         1  female  0.643971      1      0  0.788947        C
2         3  female -0.281878      0      0 -0.486650        S
3         1  female  0.412509      1      0  0.422861        S
4         3    male  0.412509      0      0 -0.484133        S
..      ...     ...       ...    ...    ...       ...      ...
884       2    male -0.204724      0      0 -0.384475        S
885       1  female -0.821957      0      0 -0.042213        S
886       3  female  0.003524      1      2 -0.174084        S
887       1    male -0.281878      0      0 -0.042213        C
888       3    male  0.181046      0      0 -0.490173        Q

[889 rows x 7 columns]

In [5]:
y

0      0
1      1
2      1
3      1
4      0
      ..
884    0
885    1
886    0
887    1
888    0
Name: Survived, Length: 889, dtype: int64

In [6]:
# Encoding the Categorical Variables

X.Embarked = LabelEncoder().fit_transform(X.Embarked)
X.Sex = LabelEncoder().fit_transform(X.Sex)

# Dividing the Dataset into Train & Test
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [7]:
# Creating the Model
Model = GradientBoostingClassifier()
Model.fit(x_train, y_train)

GradientBoostingClassifier()