# Removing the Constant Features using the Manual Approach by `Mr. Harshit Dawar!`

* ***This approach is used to remove the constant features, they can be numerical as well as Categorical. There can be 2 ways to achieve it, one could be to encode the categorical variables, but it involves lot of processing. Therefore, the other approach is to use the number of unique values of each variable, & this is the one which is explained in this code! ***

In [1]:
# Importing the required Libraries!

import pandas as pd

In [2]:
# Loading the Data!

data = pd.read_csv("../ds/dataset_1.csv")

In [3]:
data.shape

(50000, 301)

In [4]:
data.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [5]:
# Changing all the variables to object type (Categorical Variables), to show that this approach
# works with categorical variables even!

data = data.astype("O")

In [6]:
data.dtypes

var_1      object
var_2      object
var_3      object
var_4      object
var_5      object
            ...
var_297    object
var_298    object
var_299    object
var_300    object
target     object
Length: 301, dtype: object