In [1]:
# Importing the required Libraries

from sklearn.feature_selection import VarianceThreshold
import pandas as pd
import numpy as np

In [2]:
# Importing the dataset

data = pd.read_csv("../ds/dataset_1.csv")

In [3]:
data.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [4]:
# Automatic Approach to remove Quasi-Constant Features using VarianceThreshold!

Feature_Selector = VarianceThreshold(threshold = 0.03) # Removes all the features whose variance <= 0.03
Feature_Selector.fit(data)

VarianceThreshold(threshold=0.03)

In [9]:
# Printing the number of Quasi Constant Features according to the Threshold! 
data.shape[1] - sum(Feature_Selector.get_support())

96