# Removing the Quasi-Constant Features using the Feature Engine Library of Python by `Mr. Harshit Dawar`!

In [1]:
# Importing the required Libraries

import pandas as pd
import numpy as np
from feature_engine.selection import DropConstantFeatures

In [2]:
# Loading the Dataset!

data = pd.read_csv("../ds/dataset_1.csv")
data.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0

In [3]:
# Creating the Feature Selector which will remove all the constant Features
# tol = 0.97 means that all the count of any value(s) in a feature is >= 97%.
# variables = None means that this will evaluate on all the features

Feature_Selector = DropConstantFeatures(variables = None, tol = 0.97)

In [5]:
# Fittting the Dataset to the Feature Selector!

Feature_Selector.fit(data)

DropConstantFeatures(tol=0.97,
                     variables=['var_1', 'var_2', 'var_3', 'var_4', 'var_5',
                                'var_6', 'var_7', 'var_8', 'var_9', 'var_10',
                                'var_11', 'var_12', 'var_13', 'var_14',
                                'var_15', 'var_16', 'var_17', 'var_18',
                                'var_19', 'var_20', 'var_21', 'var_22',
                                'var_23', 'var_24', 'var_25', 'var_26',
                                'var_27', 'var_28', 'var_29', 'var_30', ...])