# Step Backward Feature Selection by `Mr. Harshit Dawar!`

* This algorithm falls under the category of Wrapper Methods, that guarantees to select the best subset of features for a particular Machine Learning algorithm!

* This algorithm starts by training the model using all the available features in the dataset, then keeps on eliminating one feature & selecting the best subset of the features that provides the best performance. Likewise, this algorithm keeps on decreasing the features, unless & until a stopping condition is met.

* Stopping Condition can be a predefined number of features or the model performance threshold.

#### Now, that being said, let's proceed towards the practical.

In [1]:
# Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import roc_auc_score, r2_score
from sklearn.datasets import load_boston
from mlxtend.feature_selection import SequentialFeatureSelector

### Classification Use-Case

In [3]:
# Loading the Dataset!

data = pd.read_csv("../ds/Titanic.csv")
data.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male -0.590495      1      0 -0.500240        S
1         1       1  female  0.643971      1      0  0.788947        C
2         1       3  female -0.281878      0      0 -0.486650        S
3         1       1  female  0.412509      1      0  0.422861        S
4         0       3    male  0.412509      0      0 -0.484133        S

In [4]:
# Dividing the Dataset into Target & Features!
X = data.drop("Survived", axis = 1)
y = data.Survived

In [5]:
X.head()

   Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0       3    male -0.590495      1      0 -0.500240        S
1       1  female  0.643971      1      0  0.788947        C
2       3  female -0.281878      0      0 -0.486650        S
3       1  female  0.412509      1      0  0.422861        S
4       3    male  0.412509      0      0 -0.484133        S

In [6]:
y

0      0
1      1
2      1
3      1
4      0
      ..
884    0
885    1
886    0
887    1
888    0
Name: Survived, Length: 889, dtype: int64

In [7]:
# Label Encoding the Categorical Variables

from sklearn.preprocessing import LabelEncoder
X.Sex = LabelEncoder().fit_transform(X.Sex)
X.Embarked = LabelEncoder().fit_transform(X.Embarked)
X.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       3    1 -0.590495      1      0 -0.500240         2
1       1    0  0.643971      1      0  0.788947         0
2       3    0 -0.281878      0      0 -0.486650         2
3       1    0  0.412509      1      0  0.422861         2
4       3    1  0.412509      0      0 -0.484133         2

In [8]:
# Creating the Feature Selector!

Feature_Selector = SequentialFeatureSelector(
                        RandomForestClassifier(n_estimators = 15, n_jobs = 2),
                        scoring = "roc_auc",
                        cv = 3,
                        floating = False,
                        forward = False,
                        k_features = 3,
                        verbose = 2
                        )

Feature_Selector.fit(X, y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    3.3s finished

[2021-03-14 12:15:51] Features: 6/3 -- score: 0.8456803791964557[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    2.8s finished

[2021-03-14 12:15:54] Features: 5/3 -- score: 0.8414808480168455[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    2.4s finished

[2021-03-14 12:15:56] Features: 4/3 -- score: 0.8498912222445631[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    1.9s finished

[2021-03-14 12:15:58] Features: 3/3 -- score: 0.826462080213025

SequentialFeatureSelector(cv=3,
                          estimator=RandomForestClassifier(n_estimators=15,
                                                           n_jobs=2),
                          forward=False, k_features=3, scoring='roc_auc',
                          verbose=2)

In [9]:
# Printing the Names of the Selected Features

Feature_Selector.k_feature_names_

('Pclass', 'Sex', 'Age')

In [10]:
# Printing the Final Metrics Score!
Feature_Selector.k_score_

0.826462080213025

In [11]:
# Transforming the Dataset to selected Features
X = Feature_Selector.transform(X)

In [12]:
X

array([[ 3.        ,  1.        , -0.59049493],
       [ 1.        ,  0.        ,  0.64397101],
       [ 3.        ,  0.        , -0.28187844],
       ...,
       [ 3.        ,  0.        ,  0.00352373],
       [ 1.        ,  1.        , -0.28187844],
       [ 3.        ,  1.        ,  0.18104628]])

### Regression Use-Case

In [13]:
# Loading the Boston Housing Dataset!

reg_X, reg_Y = load_boston(return_X_y = True)

In [14]:
reg_X.shape, reg_Y.shape

((506, 13), (506,))