# Step Forward Feature Selection by `Mr. Harshit Dawar!`

* This algorithm falls under the category of Wrapper Methods, that guarantees to select the best subset of features for a particular Machine Learning algorithm!

* This algorithm starts by training the model using one feature from all the features that are present in the dataset, then selects the one that is performing best, then it again runs with the best feature selected in the previous round, & selects the best 2 features in a group that provides the best performance. Likewise, this algorithm keeps on increasing the features, unless & until a stopping condition is met.

* Stopping Condition can be a predefined number of features or the model performance threshold.

#### Now, that being said, let's proceed towards the practical.

In [1]:
# Importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import roc_auc_score, r2_score
from sklearn.datasets import load_boston
from mlxtend.feature_selection import SequentialFeatureSelector

In [2]:
# Loading the Dataset!

data = pd.read_csv("../ds/Titanic.csv")

In [3]:
data.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male -0.590495      1      0 -0.500240        S
1         1       1  female  0.643971      1      0  0.788947        C
2         1       3  female -0.281878      0      0 -0.486650        S
3         1       1  female  0.412509      1      0  0.422861        S
4         0       3    male  0.412509      0      0 -0.484133        S

In [6]:
X = data.drop("Survived", axis = 1)
y = data.Survived

In [7]:
X.head()

   Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0       3    male -0.590495      1      0 -0.500240        S
1       1  female  0.643971      1      0  0.788947        C
2       3  female -0.281878      0      0 -0.486650        S
3       1  female  0.412509      1      0  0.422861        S
4       3    male  0.412509      0      0 -0.484133        S

In [8]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64