# Target Mean Encoding Selection using Feature-Engine by `Mr. Harshit Dawar!`

In [1]:
# Loading the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from feature_engine.selection import SelectByTargetMeanPerformance

In [30]:
# Loading the Data

data = pd.read_csv("../../ds/Titanic_Dataset.csv")

In [31]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [32]:
data.drop("Cabin", axis = 1, inplace = True)

In [33]:
data = data.dropna()

In [34]:
data.shape

(712, 11)

In [36]:
data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [35]:
data = data.drop(["Name", "Ticket"], axis = 1)

In [37]:
X = data.drop("Survived", axis = 1)
y = data.Survived

In [38]:
# Creating a Feature Selector for the work!

Feature_Selector = SelectByTargetMeanPerformance(variables = None,
                                                 scoring = "roc_auc_score",
                                                 cv = 5,
                                                 threshold = 0.5)

In [40]:
# Fitting the data to the Feature Selector!

Feature_Selector.fit(X, y)

SelectByTargetMeanPerformance(cv=5,
                              variables=['PassengerId', 'Pclass', 'Sex', 'Age',
                                         'SibSp', 'Parch', 'Fare', 'Embarked'])