# Target Mean Encoding Selection using Feature-Engine by `Mr. Harshit Dawar!`

In [1]:
# Loading the Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from feature_engine.selection import SelectByTargetMeanPerformance

In [2]:
# Loading the Data

data = pd.read_csv("../../ds/Titanic_Dataset.csv")

In [3]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
data.drop("Cabin", axis = 1, inplace = True)

In [5]:
data = data.dropna()

In [7]:
data.shape

(712, 11)

In [8]:
data.head()

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500        S

In [9]:
X = data.drop("Survived", axis = 1)
y = data.Survived